@page
@model WebApplication1.Pages.Admin.AddMenuModel
@{
    ViewData["Title"] = "AddMenu";
    Layout = "~/Pages/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>AddMenu</h2>

<p>please enter in the stationary details</p>
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <span asp-validation-for="Menu.Name"></span>
    <div>Name: <input asp-for="Menu.Name" /></div>
    <div>Price: <input asp-for="Menu.Price" /></div>
    <div>Decription:  <input asp-for="Menu.Description" /></div>
    <div>Select a picture:<br/><input type="file" name="Pic"/><br/></div>
    <input type="submit" />
</form>