@page "{id:int}"
@model WebApplication1.Pages.Admin.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <link rel="stylesheet" href="~/css/Edit.css" />
}

<h2>Edit Item - @Model.Item.Name</h2>
<form class="box" method="post" enctype="multipart/form-data">
    <input asp-for="Item.ID" type="hidden" />
    <div>Item Name</div>
    <div><input type="text" asp-for="Item.Name" /></div>
    <div>Item Price</div>
    <div><input type="text" asp-for="Item.Price" /></div>
    <div>Item Description</div>
    <div><input type="text" asp-for="Item.Description" /></div>
    <div>Item Image</div>
    <div>Select a picture:<br /><input type="file" name="Pic" /><br /></div>
    <div>
        <button type="submit" asp-page-handler="Save">Save</button>
    </div>
</form>

