@page
@model WebApplication1.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>AccessDenied</h2>
<h2>You do not have the permission to view this page</h2>

