@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css" />
    <script type="text/javascript" src="~/JavaScript/Layout.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <section>
        <header>    
            <nav>
                <ul class="active">
                    <li>
                        <a asp-page="Index">Home</a>
                    </li>
                    <li>
                        <a asp-page="Menus">Menus</a>
                    </li>
                    <li>
                        <a asp-page="Order">Order</a>
                    </li>
                    <li>
                        <a asp-page="About">About Us</a>
                    </li>
                    <li>
                        <a asp-page="Contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        
    </section>
    
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
