@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css" />
    <script type="text/javascript" src="~/JavaScript/Layout.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <a asp-page="/Index">
        <img class="topLogo" src="~/Img/topLogo.jpg">
            </a>
        <nav class="topnav">
            <input type="checkbox" id="nav" class="hidden" />
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>

            <div class="nav-wrapper">
                <ul class="active">
                    <li>
                        <a asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a asp-page="/Menu">Menu</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-page="/Admin/AddMenu">AddMenu</a>
                        </li>
                    }

                    <li>
                        <a asp-page="/About">About Us</a>
                    </li>
                    <li>
                        <a asp-page="/Contact">Contact</a>
                    </li>
                    @if (!User.IsInRole("Admin") & SignInManager.IsSignedIn(User))
                    {
                    <li>
                        <a asp-page="/Checkout">Checkout</a>
                    </li>
                    }
                        
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-page="/Account/Login">Login</a>
                        </li>

                    }

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button class="Logout" type="submit">Logout</button>
                            </form>
                        </li>

                    }
                </ul>
            </div>
        </nav>
    </header>
    <!--
        <img class="Logo" src="~/Img/Latest.JPG" alt="Logo" />
    -->

    <div>
        @RenderBody()
    </div>
 
    <footer>
        <p class="faruk">Faruk Awofeso 	&copy; copyright </p>
    </footer>
    <!--
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container-1">
            <a class="logo-name">
                Genesis
            </a>
            <nav class="footernav">
                <ul class="active-2">
                    <li>
                        <a asp-page="/Index">Home</a>
                    </li>

                    <li>
                        <a asp-page="/Menu">Menu</a>
                    </li>
                    <li>
                        <a asp-page="/Order">Order</a>
                    </li>
                    <li>
                        <a asp-page="/About">About Us</a>
                    </li>
                    <li>
                        <a asp-page="/Contact">Contact</a>
                    </li>
                    <li>
                        <a asp-page="/Account/Login">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container-2">
            <a class="logo-name">
                Have a Questions?
            </a>
            <div class="active-3">
                <ul>
                    <li><a>Address: 145-147 High Street, Liverpool, United Kingdom</a></li>
                    <li><a>Phone: +1510 5787778</a></li>
                    <li><a>Email: enquiries@genesis.co.uk</a></li>
                </ul>
            </div>
        </div>
    </footer>
    -->
</body>
</html>
