@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using WebApplication1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css" />
    <script  src="~/JavaScript/Layout.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>

        <a asp-page="/Index">
            <img class="topLogo" alt="" src="~/Img/topLogo.jpg">
        </a>
        <nav class="topnav">
            <input type="checkbox" id="nav" class="hidden" />
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>

            <div class="nav-wrapper">
                <ul class="active">
                    <li>
                        <a asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a asp-page="/Menu">Menu</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-page="/Admin/AddMenu">AddMenu</a>
                        </li>
                    }

                    <li>
                        <a asp-page="/AboutUs">About Us</a>
                    </li>
                    @if (User.IsInRole("Admin") || SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-page="/Contact">Contact</a>
                        </li>
                    }
                    @if (!User.IsInRole("Admin") & !SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-page="/Contact2">Contact</a>
                        </li>
                    }

                    @if (!User.IsInRole("Admin") & SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-page="/Checkout">Checkout (@ViewBag.Count) - @ViewBag.Total </a>
                        </li>
                    }

                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-page="/Account/Login">Login</a>
                        </li>

                    }

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button class="Logout" type="submit">Logout</button>
                            </form>
                        </li>

                    }
                  
                </ul>
            </div>
        </nav>
    </header>
    <!--
        <img class="Logo" src="~/Img/Latest.JPG" alt="Logo" />
    -->

    <div>
        @RenderBody()
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
    <script>

        mybutton = document.getElementById("myBtn");


        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }


        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
        

    <footer>

        <p class="faruk">Faruk Awofeso 	&copy; copyright </p>
        <a href="http://validator.w3.org/check?uri=referer">Validate HTML</a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>

    </footer>
</body>
</html>
