@page
@model WebApplication1.Pages.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Pages/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/css/AboutUs.css" />
}


<div class="container">

    <div class="about">
        <div class="left">
            <h1>About us</h1>
            <hr>
            <p>We are a family owned business, proud to be independent, proud also in our support of local suppliers in the pursuit of locally sourced and produced ingredients for our kitchen. Our meat is provided by Uk based farmers, Butchers in Costco Liverpool, our fish is provided by Moby Nicks on Plymouth's Barbican Fish Quay and our vegetables, salads and fruit is provided by Farm Foods of Old Swan</p>

            <p>So, if you are looking for a quick drink, a fast or leisurely lunch or dinner, pre and post Theatre or Pavilions dining, make Genesis your top choice. We also have a 1st floor dining room, ideal for parties of up to 35, for your special event, birthday, company get together, engagement, baby shower, hen and stag evenings, with set menus available, or design your own to compliment your special event.</p>

        </div>
        <img class="right" src="~/Img/staff.jpg">
        <div class="clear"></div>
    </div>
</div>

<div class="container2">
    <div class="where">
        <h1>Where to find us?</h1>
        <hr>
    </div>

</div>
<div class="mapouter"><div class="gmap_canvas"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=restuarant%20liverpool&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
</div>


   





