@page
@model WebApplication1.Pages.Contact2Model
@{
    ViewData["Title"] = "Contact2";
    Layout = "~/Pages/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/Contact.css" />
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @using Microsoft.AspNetCore.Identity
    @using WebApplication1.Data
}

<h2>Contact2</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <span asp-validation-for="Contact.Name"></span>
    <div>Full Name:  <input asp-for="Contact.Name" /></div>
    <div>Email:  <input asp-for="Contact.Email" /></div>
    <div>Message:  <input asp-for="Contact.Message" /></div>
    <input type="submit" />

</form>

