@page
@model WebApplication1.Pages.IndexModel
@{
    <link rel="stylesheet" type="text/css" href="~/css/Index.css" />
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<img class="Logo" src="~/Img/Latest.JPG" alt="Logo" />
<div class="main-text">
    <p>
        Since our opening, we have become masters of our craft. Our commitment to products, exceptional services and incomparable customer
        care keep our business growing from time to time.
    </p>
</div>
<hr />


