@page
@model WebApplication1.Pages.IndexModel
@{
    <link rel="stylesheet" type="text/css" href="~/css/Index.css" />
    <script type="text/javascript" src="~/JavaScript/Index.js"></script>
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<div class="main-text">
    <p>
        Since our opening, we have become masters of our craft. Our commitment to products, exceptional services and incomparable customer
        care keep our business growing from time to time.
    </p>
</div>
<hr />
<main class="site-wrapper">
    <section class="gallery">
        <figure class="gallery__item">
            <img src="~/Img/Index1.jpg" alt="" class="gallery__image">
            <figcaption class="gallery__image-caption">
                Welcome to Genesis. Full of great experience.
            </figcaption>
        </figure>


        <figure class="gallery__item">
            <img class="gallery__image" src="~/Img/Index2.jpg">
            <figcaption class="gallery__image-caption">
                Bring a date along.
            </figcaption>
        </figure>

        <figure class="gallery__item">
            <img class="gallery__image" src="~/Img/Index3.jpg">
            <figcaption class="gallery__image-caption">
                All you can eat
            </figcaption>
        </figure>

        <figure class="gallery__item">
            <img class="gallery__image" src="~/Img/Index4.jpeg">
            <figcaption class="gallery__image-caption">
                Amazing customer service for all.
            </figcaption>
        </figure>


        <figure class="gallery__item">
            <img class="gallery__image" src="~/Img/Index5.jpg">
            <figcaption class="gallery__image-caption">
                Amazing discount for student.
            </figcaption>
        </figure>


        <figure class="gallery__item">
            <img class="gallery__image" src="~/Img/Index6.jpg">
            <figcaption class="gallery__image-caption">
                5 star dessert.
            </figcaption>
        </figure>

        <figure class="gallery__item">
            <img class="gallery__image" src="~/Img/Index7.jpg">
            <figcaption class="gallery__image-caption">
                Great atmosphere for socialising.
            </figcaption>
        </figure>

        <figure class="gallery__item">
            <img class="gallery__image" src="~/Img/Index8.jpg">
            <figcaption class="gallery__image-caption">
                We have full range meals.
            </figcaption>
        </figure>



    </section>
</main>
<hr />



