@page
@model WebApplication1.Pages.OrderModel
@{
    <link rel="stylesheet" type="text/css" href="~/css/Order.css" />
    ViewData["Title"] = "Order";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Order</h2>
<p>Place your order</p>

