@page
@model WebApplication1.Pages.PaymentReceivedModel
@{
    ViewData["Title"] = "PaymentReceived";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Congratulation, your payment has been recieved, Thank you!</h2>

